:root {
  --icon-size: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.button {
  border: 1px solid transparent;
  padding: 1.2rem;
  font-size: var(--normal-font-size);
  font-weight: var(--light-font-weight);
  background-color: var(--white);
  color: var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);

  &:last-child {
    border-bottom: none;
  }
  
  &:hover {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.isActive {
    color: var(--white);
    background-color: var(--dark-blue);
  }
}

.filterRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterRowText {
  color: var(--dark-blue);
}

.filterRowTextActive {
  color: var(--white);
}

.icon {
  color: var(--grey);

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &.isActive {
    color: var(--white);
  }
}

.filterText {
  font-weight: var(--extra-bold-font-weight);
}

@media screen and (max-width: 1059px) {
  .filter {
    margin-bottom: 3rem;
    max-width: 350px;
  }
}