:root {
  --spacing: 0.5rem;
  --content-padding: 1.5rem;
}

p,
h3 {
  margin: 0;
}

.bold {
  font-weight: var(--bold-font-weight);
}

.card {
  background-color: var(--white);
  margin-bottom: 2.5rem;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.overviewText,
.overviewInnerTitle,
.overviewButton {
  color: var(--dark-blue);
}

.overviewInnerTitle,
.overviewInnerText,
.seeMoreButton {
  font-size: var(--small-font-size);
}

.overviewInnerTitle {
  padding: 0 0 0.5rem;
}

.seeMoreButton {
  display: flex;
  align-items: center;
  position: absolute;
  gap: var(--spacing);
  bottom: 0;
  background-color: var(--white);
  padding: var(--spacing) 1rem;
  min-width: 250px;
  justify-content: space-between;
}

.ratingsContainer {
  display: flex;
  flex-direction: row;
  padding: var(--spacing) 0;
}

.rating {
  padding-right: 0.3rem;
}

.ratingStar {
  color: var(--brand-yellow);
}

.descriptionContainer {
  overflow: hidden;
  display: none;

  &.isActive {
    display: block;
  }
}

.overviewContainer,
.hotelInfoContainer {
  padding: var(--content-padding);
}

.hotelInfoContainer {
  align-self: center;

  h3 {
    color: var(--dark-blue);
  }
}

.hotelImage {
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hotelInfoLocation {
  color: var(--grey);
  font-size: var(--small-font-size);
  font-weight: var(--medium-font-weight);
  padding-top: var(--spacing);
}

.detailsContainer {
  padding-bottom: 1rem;
}

.details {
  font-size: var(--tiny-font-size);
  padding: 0.2rem 0;
}

.bookNowButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: var(--brand-yellow);
  border-radius: var(--radii-small);

  span {
    color: var(--dark-blue);

    &:first-child {
      font-size: var(--small-font-size);
      font-weight: var(--bold-font-weight);
    }

    &:last-child {
      font-size: var(--large-font-size);
      font-weight: var(--bold-font-weight);
    }
  }
}

@media screen and (min-width: 1060px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 300px;
  }

  .overviewContainerSmall {
    display: none;
  }
}

@media screen and (max-width: 1059px) {
  .card {
    width: calc(50% - 10px);
  }

  .hotelImage {
    height: auto;
    width: 100%;
  }

  .overviewContainerLarge {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .card {
    width: 100%;
  }
}
