:root {
  --main-padding-large: 4rem;
  --main-padding-small: 2rem;
  --container-max-width: 1150px;
  --grid-gap-large: 6rem;
  --card-gap: 10px;
}

main {
  display: flex;
  justify-content: center;
  padding: var(--main-padding-large);
}

.container {
  max-width: var(--container-max-width);
  gap: var(--grid-gap-large);
}

@media screen and (min-width: 1060px) {
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}

@media screen and (max-width: 1059px) {
  main {
    padding: var(--main-padding-small);
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
  }
}
