main {
  padding: 4rem;
}

.container {
  max-width: 1150px;
  gap: 6rem;
}

@media screen and (min-width: 1060px) {
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}

@media screen and (max-width: 1059px) {
  .cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
